@layer theme {
/* setup the coloring, font-weight, font-size, font-style, line-height, background, etc. values for body, h1, p, b, etc. */

  body {
    background-color: #2a3133;
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--dark-mode-text);
  }

  a {
    text-decoration: none;
    color: var(--dar-mode-link);
    font-size: 1.125rem;
  }

  p {
    color: var(--dark-mode-text);
  }

  q {
    color: var(--dark-mode-text);
  }

}